/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
  padding: 0;
  margin: 0;
 }

 .btn{
    display:inline-block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    width: 80px;
    line-height: 35px;
    height: 35px;
    background: #238636;
    border-radius: 6px;
    transition: all .5s ease;
   }
  
  .btn:hover{
    background: #2ea043;
    text-decoration: underline;
  }



 .btn-del{
    display:inline-block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    width: 80px;
    line-height: 35px;
    height: 35px;
    background: #da3633;
    border-radius: 6px;
    transition: all .5s ease;
   }
   
  .btn-del:hover{
    background: #f85149;
    text-decoration: underline;
  }

  .user-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto;
    place-content: center;
    gap: 50px;
  }

  .user-card{
    padding: 10px 50px;
    display: grid;
    gap: 15px;
    place-content: center;
    align-items: center;
    background-color: #008c8cac;
    border-radius: 6px;
    box-shadow: 0px 35px 52px 0px rgba(34, 60, 80, 0.2);
  }

  .user-btns{
    display: flex;
    gap: 5px;
  }

  .user-btns a {
    text-decoration: none;
    color: #111;
  }
  .user-btns a:hover {
    text-decoration: underline;
  }